@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    color: #858A8F;
    background-color: #F5F6FA;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;

    --color-1: #333;
    --font-paragraph: 16px;
    --pad-x: 7.3vw;
    --pad-y: 90px;
}




/* utilities */
.slide{
    width: 100%;
    padding: var(--pad-y) var(--pad-x);
}

.row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.logo{
    height: 50px;
}

.button{
    background-color: #0176FF;
    color: #FFF;
    text-wrap: nowrap;
    padding: 12px 22px;
    border-radius: 3px;
}

.typo-s{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
/* utilities */







/* default */
ul{
    list-style: none;
}

img{
    max-inline-size: 100%;
}

h1, h2, h3{
    color: var(--color-1);
}

input, button{
    border: none;
    outline: none;
    font: inherit;
}
/* /default */














/* header */
header.slide{
    padding: 25px var(--pad-x);
    justify-content: space-between;
}

.menu{
    gap: 30px;
}

.menu li{
    gap: 5px;
    cursor: pointer;
}

.menu > li::after{
    content: "\203A";
    font-size: 1.5em;
    transform: rotateZ(90deg);
}
/* /header */




/* hero */
.hero{
    gap: 25px;
    text-align: center;
    max-width: 800px;
    padding: 115px var(--pad-x);
}

h1{
    font-size: 45px;
    font-weight: 700;
}
/* /hero */




/* showcase */
.showcase{
    background-color: #FFF;
    display: flex;
    gap: 30px;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #F5F6FA;
    transition: border-color .3s ease;
}

.card-content{
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
}

.card:hover{
    border-color: #ececec;
}
/* /showcase */




/* connect */
.connect{
    gap: 30px;
    text-align: center;
}

.connect form{
    gap: 15px;
    align-items: initial;
}

form input{
    border-radius: 5px;
    padding: 12px 22px;
}
/* /connect */




/* footer */
footer{
    background-color: #fff;
}

footer section{
    display: flex;
    gap: 60px;
    flex-flow: row nowrap;
}

footer .col1{
    max-width: 300px;
}

footer .col2{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer p{
    margin: 30px 0;
}

footer h3{
    padding-bottom: 15px;
}

footer li{
    color: var(--color-2);
    padding-bottom: 10px;
}
/* /footer */


/* responsiveness */

@media (max-width: 425px) {
    /* header */
    .menu{
        display: none;
    }

    /* main */
    .connect form{
        flex-flow: column;
    }

    /* footer */
    footer section{
        flex-flow: column nowrap;
    }

    footer .col2{
        gap: 15px 22px;
        flex-flow: row wrap;
        text-wrap: nowrap;
    }
}